-##playground
-#  #deck
-#  #poker-table.poker-table
-#  #player1.cardArea
-#  #player2.cardArea
-#  #controls
-#    %button#shuffle Shuffle
-#    %button#players Players
-#    %button#shuffle Deal
-##board.hide
-#  %h1 Progress
-#  %ol{'data-bind' => 'foreach: messages'}
-#    %li{'data-bind' => 'text: txt'}

.container
  .row.hide
    .hero-unit
      %h1 Pokkah
      %p If you play Poker in Kenya, don't be expecting to play Texas Hold'em or 7-Stud. That's for sissies!
      %p What we play is more like Switch (http://en.wikipedia.org/wiki/Switch_(card_game), but we play with our own rules!
  .row
    .span12
      .container
        .span2
          %button.btn.btn-large#start{'data-bind' => 'click: startGame, disable: inProgress '} Start Game
        .span3.offset3
          %h6{'data-bind' => 'text: game().whoseTurn'}
      -#%button.btn.btn-large#shuffle{'data-bind' => 'click: shuffle'} Shuffle
      -#%button.btn.btn-large#deal{'data-bind' => 'click: deal'} Deal
  .row
    .span12
      %br
  .row
    .span2.offset1
      #deck
    .span6
      .poker-table
        #board-deck
    .span3
      .container
        .row
          .avatar
            %img{'src' => '/images/avatars/FD03.png'}
          .computer
            %h4 Computer
          #computer-deck
  .row
    .span1.offset1
      .container
        .row
          %button.btn.btn-large.btn-success#btn-move{'data-bind' => 'click: move, enable: playerCanMove() '} Move
        .row
          %br
          %button.btn.btn-large#btn-move{'data-bind' => 'enable: playerCanPlay(), click: pick'} Pick
    .span1
      .container
        .row
          .avatar
            %img{'src' => '/images/avatars/O03.png'}
          .player
            %h4 Player 1
    .span6
      #player-deck

