!!! 5
%html
  %head
    %link{'rel' => 'shortcut icon', 'href' => 'images/favicon.ico'}
    %link{'rel' => 'stylesheet', 'href' => 'css/style.css'}


    %title pokkah
  %body

    /! start the main body
    = yield
    /! end the main body



    /! start of scripts
    %script{ 'type' => 'text/javascript', 'src' => 'javascript/jquery.1.7.2.js'}
    -#%script{ 'type' => 'text/javascript', 'src' => 'javascript/jquery.gamequery-0.6.1.js'}
    %script{ 'type' => 'text/javascript', 'src' => 'javascript/js.class.min.js'}
    %script{ 'type' => 'text/javascript', 'src' => 'javascript/underscore-min.js'}
    %script{ 'type' => 'text/javascript', 'src' => 'javascript/knockout.js'}
    %script{ 'type' => 'text/javascript', 'src' => 'javascript/app.js'}