/*
 * From:
 *
 * http://www.the-art-of-web.com/css-animation.css
 */
#stage {
    border: 1px solid #ccc;
}

#felt {
    position: relative;
    margin: 0 0 0 200px;
    height: 500px;
    background: green;
}

div.card {
    position: absolute;
    left: -140px;
    top: 100px;
    z-index: 0;

    -webkit-transition-property: left, top, -webkit-transform;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out, ease-out, ease-in-out;

    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}