#deck {
    height: 300px;
    position: relative;
}


.poker-table {
    width: 400px;
    height: 300px;
    background-color: rgb(21,76,19);
    border: 10px solid black;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
}

#player1 {
    border: 1px solid black;
    left: 25%;
    position: relative;
    width: 50%
}

#board {
}